{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_site/css/atendimento.css' %}">
    <title>Central de Atendimento</title>
</head>
<body>
    <main>
        <article>
            <h1>SEJA BEM VINDO AO CENTRAL DE ATENDIMENTO AO CLIENTE STÚDIO RAMOSS</h1>
            <h2>Como podemos te ajuda?Veja abaixo as principais dúvidas e esclarecimentos!</h2>

            <h3>Como posso cancelar o Agendamento?</h3>
            <p>É de muita importância para nossa equipe que caso você não possa comparecer ao estabelecimento ou deseja cancelar um atendimento domiciliar! <br> Você poderá cancelar mandando uma mensagem para o nosso suporte com a seguinte mensagem </p>
            <ol>
                <li>"QUERO CANCELAR MEU AGENDAMENTO"</li>
                <li>Em seguida nossa equipe solicitará seus dados para o CANCELAMENTO IMEDIATO!</li>
            </ol>
            <h3>Posso alterar o dia do Atendimento? Como procede?</h3>
            <p>Sim, apenas necessário entrar em contato com nosso suporte!</p>
            <p>Caso prefira e recmendado! Entre em contato com nossa equipe via whatsapp!</p>
            <p><span>Pronto!</span> num piscar de olho você irá receber um E-mail com novas informações sebre seu novo agendamento! fique de olho alguns E-mails podem parar no spam.</p>
            <h3>Coso queira ser um parceiro, como prosseder?</h3>
            <p>É importante que entre em contato com nossa equipe via E-mail ou whatsapp</p>
            <p>Nossa equipe conta com parceiros de verade, que possa nos ajudar em todo momento que possivel, trazendo uma boa convivencia entre as parcerias.</p>
            <h3>Quer trabalhar conosco?</h3>
            <p>Você pode responder um simples questionário em nosso site e selecinar a vaga desejada!</p>
            <ol>
                <li> Em nosso site vá no fim da página</li>
                <li> em Links Úteis</li>
                <li> Procure por Trabalhe Conosco</li>
            </ol>
            <p><span>Pronto!</span> Se tudo ocorrer bem você receberá um E-mail com informações para as prossimas etapas.</p>
        </article>
        <div class="duvidas">
            <h2>Ainda com dúvidas? Converse com nossa Equipe de Suporte.</h2>
            <a href="https://wa.me/+55+ddd+numero" target="_blank">Esclarecer Dúvidas</a>
        </div>
        
    </main>
</body>
</html>