{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_site/css/privacidade.css' %}">
    <script src="https://kit.fontawesome.com/dc37c7fe1c.js" crossorigin="anonymous"></script>
    <title>Política de Privacidade</title>
</head>
<body>

    <main>

        <nav class="container_escolhas">
            <a href="#termos" id="btn_termos">Termos de Uso</a>
            <a href="#cookies" id="btn_cookies">Política de Cookies</a>
            <a href="#perguntas" id="btn_perguntas">Perguntas Frequentes</a>
        </nav>
            

            
        
        <section class="container_privacidade">
            
            <article>
                <h1>Política de Privacidade</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, obcaecati ipsam eveniet voluptatibus rerum, esse omnis aliquam eos beatae voluptatum inventore odit quas exercitationem impedit saepe explicabo, illo atque modi expedita! Aspernatur corrupti, soluta esse rem reprehenderit modi dolor repellendus similique quo dolores ab laboriosam voluptate nisi reiciendis nihil. Consequatur odio soluta fugiat voluptates perferendis quisquam accusamus, fugit accusantium, cum hic a maiores omnis culpa ea tempore! Laboriosam officia ad, reprehenderit dignissimos nesciunt recusandae deleniti cumque. Suscipit tempora nulla voluptate iure dolores eligendi possimus quasi! Incidunt distinctio molestiae ullam. Aliquam omnis, soluta unde necessitatibus laboriosam recusandae itaque iusto? Sint, temporibus?</p>
                <h2>Como coletamos seus dados</h2>
                <p>Nós coletamos seus dados a partir das seguintes fontes:</p>
                <ul>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur deleniti animi vel maxime eius dolorum esse omnis assumenda debitis veniam.</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non veniam voluptatem atque sint veritatis sed repellat distinctio praesentium minima alias, tempore, id placeat deserunt reprehenderit accusamus. Eveniet excepturi a perspiciatis!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, voluptatum facilis odit ea rerum autem? Nostrum eos, iste perspiciatis porro quisquam autem cupiditate vero perferendis.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse cumque ex repellendus recusandae quibusdam harum doloremque libero voluptatibus similique doloribus, non ipsam ipsa sint, fugiat necessitatibus eos quis dolore ut minus deserunt, id veritatis totam? Ad, perferendis. Deserunt, sapiente officia?</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem impedit architecto tempore, tenetur totam ratione vero laudantium nisi aut quis modi a asperiores dolores quos necessitatibus debitis nostrum beatae aspernatur eos aperiam officia consequatur rerum.</li>
                    
                </ul>
                <h2>Dados que coletamos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, sunt! Deleniti, accusantium laboriosam! Distinctio quos iusto est quas delectus temporibus voluptatum autem cupiditate a, ea ex pariatur vero sapiente quae fugiat expedita at molestiae debitis vel amet excepturi nobis quidem repellendus reprehenderit? Accusantium nihil omnis sint fugit rem nam corporis?</p>
                <table>
                    <tr>
                        <th></th>
                        <th class="itens_principal">DADOS</th>
                        <th class="itens_principal">FIINALIDADE</th>
                    </tr>
                    <tr>
                        <td class="dados principal">Cadastrais</td>
                        <td class="dados">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt porro accusantium eum quos hic. Nobis doloremque unde molestiae iure! Porro hic modi veritatis commodi earum mollitia saepe magni laborum itaque.</td>
                        <td class="dados">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias porro ipsa tempore, adipisci blanditiis ab laboriosam incidunt et recusandae sapiente labore iure? Dolores fugiat provident dicta repudiandae aperiam fuga officia.</td> 
                    </tr>
                    <tr>
                        <td class="dados principal">Financeiros</td>
                        <td class="dados">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto alias optio error. Nostrum voluptatibus iste quos. Ut minus, inventore magni perferendis, iste aut suscipit sequi eaque nam recusandae maxime incidunt?</td>
                        <td class="dados">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias porro ipsa tempore, adipisci blanditiis ab laboriosam incidunt et recusandae sapiente labore iure? Dolores fugiat provident dicta repudiandae aperiam fuga officia.</td> 
                        
                    </tr>
                    <tr>
                        <td class="dados principal">Dados Computacionais e de navegação</td>
                        <td class="dados">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam et libero quo laboriosam, nostrum recusandae optio ipsa ut possimus eos inventore earum, quae id sunt soluta illum, maxime molestias adipisci!</td>
                        <td class="dados">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias porro ipsa tempore, adipisci blanditiis ab laboriosam incidunt et recusandae sapiente labore iure? Dolores fugiat provident dicta repudiandae aperiam fuga officia.</td> 
                        
                    </tr>
                    <tr>
                        <td class="dados principal">Outros dados pessoais</td>
                        <td class="dados ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero perspiciatis itaque tempora ea nihil labore odio tempore, est perferendis officiis quibusdam accusamus harum velit, ipsa repellendus illum culpa autem?</td>
                        <td class="dados ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias porro ipsa tempore, adipisci blanditiis ab laboriosam incidunt et recusandae sapiente labore iure? Dolores fugiat provident dicta repudiandae aperiam fuga officia.</td> 
                        
                    </tr>
                    <tr>
                        <td class="dados principal">Atendimento</td>
                        <td class="dados">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia obcaecati alias iusto praesentium expedita ducimus, sint neque in debitis vero perspiciatis officia nisi nemo quae odio eum, voluptatibus voluptate qui.</td>
                        <td class="dados">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias porro ipsa tempore, adipisci blanditiis ab laboriosam incidunt et recusandae sapiente labore iure? Dolores fugiat provident dicta repudiandae aperiam fuga officia.</td> 
                       
                    </tr>
                   
                </table>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt nam modi reprehenderit eaque, optio aperiam culpa consequuntur in ad non. Dignissimos, sint? Magnam exercitationem at ipsum, adipisci temporibus quis numquam?</p>
                <h2>Decisões automatizadas</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit qui commodi praesentium quos odio alias voluptatibus saepe repellat. Exercitationem error iure optio ea cupiditate nisi unde explicabo quod soluta assumenda!</p>
                <h2>Dados de Crianças e Adolescentes</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quam sequi unde quia eaque dolore, aliquid nemo ipsam. Nesciunt repudiandae facilis rerum quaerat ratione non pariatur veniam quasi aliquam soluta.</p>
                <h2>Compartilhamento de Dados Pessoais</h2>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non distinctio eligendi soluta dolores facere voluptatem, illum minima quos! Id, nesciunt?</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non distinctio eligendi soluta dolores facere voluptatem, illum minima quos! Id, nesciunt?</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non distinctio eligendi soluta dolores facere voluptatem, illum minima quos! Id, nesciunt?</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non distinctio eligendi soluta dolores facere voluptatem, illum minima quos! Id, nesciunt?</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non distinctio eligendi soluta dolores facere voluptatem, illum minima quos! Id, nesciunt?</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non distinctio eligendi soluta dolores facere voluptatem, illum minima quos! Id, nesciunt?</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non distinctio eligendi soluta dolores facere voluptatem, illum minima quos! Id, nesciunt?</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non distinctio eligendi soluta dolores facere voluptatem, illum minima quos! Id, nesciunt?</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non distinctio eligendi soluta dolores facere voluptatem, illum minima quos! Id, nesciunt?</li>
                </ul>
                <h2>Medidas de Segurança</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi debitis, laborum quibusdam neque sit maxime eius consequatur esse a officia, repudiandae quas impedit repellat suscipit fugit. Temporibus, possimus velit odio sunt vitae quia enim minus.</p>
                <h2>Seus direitos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia illo minus, quam, excepturi earum perspiciatis tempora ducimus doloribus mollitia sit obcaecati ab, maiores error veritatis cupiditate accusamus reiciendis id ullam.</p>
                <h1 id="cookies">Politica de Cookies</h1>
                <h2>O que são Cookies?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque reprehenderit porro tempora possimus magni libero aperiam neque assumenda nam illo totam culpa expedita quas ad autem ipsum eos adipisci at soluta in nobis, quidem voluptas quibusdam? Debitis id sint saepe ipsum illo iusto, recusandae enim delectus fugiat autem qui iure.</p>
                <h3>Tipos de Cookies que utilizamos</h3>
                <h4>Cookies necessários:</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad molestiae tenetur et placeat aspernatur ratione dignissimos mollitia voluptate tempore quis, delectus eligendi. Aut, dolore illum?</p>
                <h4>Cookies de desempenho/performance:</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ab, at pariatur consectetur saepe exercitationem, cumque vel vero quas quos fugit ullam iste rem atque!</p>
                <h4>Cookies de funcionalidade:</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos maiores numquam repudiandae expedita cum accusantium, ea, dolor, iusto reiciendis veritatis omnis? Fugiat error tenetur quas obcaecati. A aspernatur atque iure?</p>
                <h4>Cookies de publicidade/propaganda:</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis voluptatem facere, vero dolorum ea perspiciatis est quae accusamus quam reiciendis odit autem iste in modi, impedit porro repudiandae veniam reprehenderit!</p>
                <h4>Como você pode gerenciar os cookies em seu navegador?</h4>
                <p>É possível bloquear tipos específicos de cookies por meio das configurações do navegador utilizado. A grande maioria dos navegadores aceita cookies automaticamente, portanto cabe ao usuário personalizar o seu próprio navegador. Para mais detalhes sobre como apagar ou rejeitar cookies, há tutoriais que tratam do assunto:</p>
                <ul>
                    <li><a href="https://support.google.com/chrome/answer/95647?hl=pt-BR">Google Chome</a></li>
                    <li><a href="https://support.mozilla.org/pt-BR/kb/gerencie-configuracoes-de-armazenamento-local-de-s">Mozilla Firefox</a></li>
                    <li><a href="https://support.microsoft.com/pt-br/windows/excluir-e-gerenciar-cookies-168dab11-0753-043d-7c16-ede5947fc64d">Internet explorer</a></li>
                    <li><a href="https://support.microsoft.com/pt-br/microsoft-edge/excluir-cookies-no-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09">Microsoft Edge</a></li>
                    <li><a href="https://support.apple.com/pt-br/guide/safari/sfri11471/macs">Safari</a></li>
                    <li><a href="https://help.opera.com/en/latest/web-preferences/">Operai</a></li>
                </ul>
                <h1 id="perguntas">Perguntas Frequentes</h1>
                <div class="container_perguntas">
                    <div class="wrapper">    

                        <div class="lista-item">
                            <input type="checkbox" name="" class="trigger-input" id="pergunta1">
                            <div class="trigger-wrapper">
                                <label for="pergunta1">
                                 <h2 class="faq-titulo">Posso cancelar o Agendamento?</h2>
                                </label>
                                <p class="faq-conteudo">No caso de <strong>cancelar o Agendamento</strong> pode ser possível apenas se entrar em contato com nossa equipe de suporte. Passando seus dados para que possa ser ossível cancelar a tempo!</p>
                            </div>
    
                        </div>
                        <div class="lista-item">
                            <input type="checkbox" name="" class="trigger-input" id="pergunta2">
                            <div class="trigger-wrapper">
                                <label for="pergunta2">
                                 <h2 class="faq-titulo">Atendimento para Crianças?</h2>
                                </label>
                                <p class="faq-conteudo">No caso de Makes para crinças ou adolecentes entre 5 a 15 anos ultilizaremos uma Make com produtos que não preojudicaram a pele da pessoa.</p>
                            </div>
    
                        </div>
                        <div class="lista-item">
                            <input type="checkbox" name="" class="trigger-input" id="pergunta3">
                            <div class="trigger-wrapper">
                                <label for="pergunta3">
                                 <h2 class="faq-titulo">Formas de Pagamento?</h2>
                                </label>
                                <p class="faq-conteudo">Aceitamos todos os tipos de pagamento, <strong>Dinheiro</strong>, <strong>Cartão de Crédito e Débito</strong> ou <strong>PIX</strong>, tambem aceitamos todos os cartões de bandeira nacional.</p>
                            </div>
    
                        </div>
                    </div>
                    <div class="wrapper">    
                        <div class="lista-item">
                            <input type="checkbox" name="" class="trigger-input" id="pergunta4">
                            <div class="trigger-wrapper">
                                <label for="pergunta4">
                                 <h2 class="faq-titulo">Posso Agendar na Hora?</h2>
                                </label>
                                <p class="faq-conteudo">Sim! Você pode ir até um de nossos estabelecimentos para fazer o Agendamento. Apensas agendamento! pois para o atendimento no momento que  você chegar pode ser que não tenhamos proficionais disponíveis.</p>
                            </div>
    
                        </div>
                        <div class="lista-item">
                            <input type="checkbox" name="" class="trigger-input" id="pergunta5">
                            <div class="trigger-wrapper">
                                <label for="pergunta5">
                                 <h2 class="faq-titulo">Quais tipos de Agendamneto?</h2>
                                </label>
                                <p class="faq-conteudo">Olá você poderá fazer um Agendamento pelo nosso site <a href="">Clicando aqui!</a>, pelo nosso <a href="https://wa.me/+55+ddd+numero"> WhatsApp</a> ou se preferir um atendimento em seu domicílio fale com um dos nossos <a href="https://wa.me/+55+ddd+numero"> Atendentes</a>. </p>
                            </div>
    
                        </div>
                        <div class="lista-item">
                            <input type="checkbox" name="" class="trigger-input" id="pergunta6">
                            <div class="trigger-wrapper">
                                <label for="pergunta6">
                                 <h2 class="faq-titulo">Posso escolher uma Make diferente?</h2>
                                </label>
                                <p class="faq-conteudo">Pode sim, nesse caso é importante você entrar em contato com um dos nossos <a href="https://wa.me/+55+ddd+numero"> Atendentes</a> para esclarecer o tipo de Make desejada!</p>
                            </div>
    
                        </div>
                        
                    </div>
                </div>
                
                
                <h2>Atualização desta Política de Privacidade</h2>
                <p>Quando mudarmos a forma de tratamento de dados pessoais esta Política será atualizada, por esse motivo recomendamos que acesse esta política com frequência e em caso de dúvidas, procure-nos em nossa <a href="">central de Atendimento</a>.

                    Dúvidas, comentários e reclamações sobre as práticas de tratamento de dados do KaBuM! podem ser enviados <a href="">privacidaderamosstudios.com</a>.
                    
                    Exerça seus Direitos de Privacidade <a href="">clicando aqui</a> .
                    
                    Última alteração: fevereiro de 2022.</p>

                
            </article>
            
        </section>
    </main>
    
</body>
<script>
    const nav = document.getElementsByTagName("nav")[1]
    const topoNav = nav.offsetTop;


    window.onscroll = function(){
        fixar();
    }

    function fixar(){
        if(window.pageYOffset >= topoNav){
            nav.classList.add('fixo_topo');
        }else{
            nav.classList.remove('fixo_topo');
        }
    }



</script>
</html>