@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Sarala:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;    
}

main{
    display: flex;
}

.container_imagens_cadastro{
    background-color: rgb(225, 112, 129);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    height: 100vh;
    top: 0;

}

.container_imagens_cadastro img{
    width: 50%;
}
.container_imagens_cadastro h2{
    font-family: 'Josefin Sans';
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.268);
}

.container_resdesSociais{
    display: flex;
    position: absolute;
    top: 90%;
}

.redes_sociais{
    width: 40px;
    height: 40px;
    background-color: #171717;
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
}

.redes_sociais a{
    color: #F6F6F6;
    font-size: 20px;
}
.redes_sociais a:hover{
    color: #ea6f7b;
}


.container_form_cadastro{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;

}


.titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0px 30px;
    margin: 50px 0 0 0 ;
}

.btn_voltar{
    margin: 20px;
    color: #171717;
    font-weight: 600;
    text-decoration: none;
}
.btn_voltar:hover{
   color: #ea6f7b;
}

.btn_voltar i{
    margin-right: 10px;
}

.linguagens{
    display: flex;
    align-items: center;
    justify-content: center;
}

.linguagens h2{
    font-family: 'Josefin Sans';
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px
}

.linguagens select{
    margin: 0 50px 20px 0;
    margin-left: 15px;
    border: 2px solid rgb(207, 109, 109);
    padding: 2px;
    border-radius: 5px;
    background-color: rgba(255, 126, 126, 0.184);
    font-family: 'Sarala';
    cursor: pointer;
    font-weight: 600;
}



.container_form_cadastro h1{
    color: black;
    font-size: 30px;
    font-family: 'Josefin Sans';
    font-weight: 700;
    
}


.container_form_cadastro form h2{
    color: rgba(21, 21, 21, 0.841);
    font-size: 20px;
    font-family: 'Sarala';
    font-weight: 600;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.container_form_cadastro form a{
    color: rgba(21, 21, 21, 0.841);
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
    margin-top: 14px;
    text-align: left;
    margin-bottom: 20px;
    text-decoration: underline
}

.container_form_cadastro form a:hover{
    color: #ea6f7b;
    text-decoration: underline
}


.container_form_cadastro form{
    width: 100%;
    padding: 0 100px;
    margin-top: 50px;
}

.container_divide_input{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_input_label{
    width: 80%;
    display: flex;
    flex-direction: column;
    
    text-align: left;
}

.container_input_label label{
    font-family: 'Josefin Sans';
    font-size: 16px;
    text-align: left;
    font-weight: 700;
    margin: 15px 10px 0px 10px;
    color: rgba(21, 21, 21, 0.841);

}
.container_input_label p{
    font-family: 'Josefin Sans';
    font-size: 16px;
    text-align: left;
    font-weight: 600;
    margin: 15px 10px 0px 10px;
    color: rgb(24, 24, 24);

}

.container_inputs_style{
    border: 2px solid rgba(50, 50, 50, 0.544);
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.154);
}

.container_inputs_style:hover{
    background-color: rgba(225, 131, 131, 0.221);
}



.input{
    background-color: transparent;
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: 500;
    padding: 7px 10px;
    width: 100%;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.77);
    border-radius: 5px;
}

.input-group{
    border: 1px solid rgba(50, 50, 50, 0.544);
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.custom-select{
    background-color: transparent;
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: 500;
    padding: 7px 10px;
    width: 100%;
    border: none;
    outline: none;
}

.butons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    padding: 7px 50px;
    font-family: 'Sarala';
    font-size: 16px;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.919);
    border: none;
    margin-top: 50px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(210, 119, 119);
}

.container_localizacao{
    margin-top: 30px;
}



.login_redes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.login_redes img{
    width: 35px;
    object-fit: cover;
    margin: 10px;
}