footer{
    display: flex;
    flex-direction: column;
    background-color: #ea6f7b;
    margin-top: 60px;

}

.links_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 300px;
    padding: 50px;
    
}

.dividir_links{
    display: flex;
    flex-direction: column;
}
.contatos{
    display: flex;
    align-items: center;
}

.contatos i{
    font-size: 25px;
    border-radius: 100px;
    margin: 2px;
    color: #171717;
    background-color: #F6F6F6;
    padding: 7px;
}
.contatos i:hover{
    background-color: #171717;
    color: #ea6f7b;
}

.container_links{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.container_links h3{
    color: white;
    font-family: 'Sarala';
    font-size: 20px;
}

.container_links a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 500;
}

.container_links p{
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 500;
}

.container_links a:hover{
    text-decoration: underline;
}


.pagamentos_cadastro{
    display: flex;
    height: 200px;
    justify-content: space-around;
}

.container_cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_cadastro h3{
    color: white;
    font-family: 'Sarala';
    font-size: 16px;
}

.cadastro form{
    display: flex;
    flex-direction: row;

}

#email{
    width: 300px;
    height: 35px;
    padding-left: 5px;
    border-radius: 4px;
    border: 1px solid #171717a5;
    font-family: 'Sarala';
    font-weight: bold;
    outline:none;
    margin-top: 3px;
} 



#btn_cadastrar{
    width: 100px;
    height: 35px;
    border-radius: 4px;
    font-family: 'Sarala';
    font-weight: bold;    
    cursor: pointer;
    background-color: #171717;
    color: white;
    border: none;
    margin-top: 3px;
    margin-left: 12px;
}

#btn_cadastrar:hover{
    background-color: black;
}


.container_cadastro p{
    color: white;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
}
.container_cadastro a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
    color: #171717;
}
.container_cadastro a:hover{
    text-decoration: underline;
}

.localizacao{
    display: flex;
    flex-direction: column;
    
}

.localizacao h3{
    color: white;
    font-family: 'Sarala';
    font-size: 16px;
}
.localizacao p{
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
}

.container_pagamentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.container_pagamentos h3{
    color: white;
    font-family: 'Sarala';
    font-size: 16px;
}

.icones_pagamentos{
    display: flex;
    justify-content: space-around;
}

.icones_pagamentos i{
    font-size: 35px;
    margin: 5px;
    color: #171717;
}